.gridcontainer{
    display: grid;
    gap: 10px;
    grid-template:
    "header" 100px
    "main" 600px
    "footer" 150px;
    

    }
header{
    background-color:#deb887 ;
    font-size: 20px;
    font-family: sacramento;
    text-align: center;
    
    
}
body{
    font-family: sans-serif;
    font-size: 15px;
    min-height: 100%;
    margin: 0;
    background-image: url(./Imagenes/vecteezy_gingham-pattern-seamless-plaid-repeat-vector-in-brown-and_.jpg);
    background-size: 50%;
    background-repeat: repeat;
    
}
article{
    padding: 20px;

}
.main h2{
    text-align: center;
}
.footer{
    grid-area: footer;
    background-color: #deb887;
}
.footer h4{
    margin-top: 50px;
    text-align: center;
    font-family: sacramento;


}