*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    font-size: 15px;
    min-height: 100%;
    margin: 0;
    background-image: url(./Imagenes/vecteezy_gingham-pattern-seamless-plaid-repeat-vector-in-brown-and_.jpg);
    background-size: 50%;
    background-repeat: repeat;
    
}
.gridcontainer> * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    
    
   
    
}
.titulo{

    color:ghostwhite;
    font-size: 20px;
    justify-content:center;
    margin-top: 10px;
    font-family: sacramento;
    font-size: 40px;
}
.header{
    grid-area: header;
    background-color: #deb887;
    width: 100%;


}

header label:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, .3);
}
header div {
    
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 00px;
    margin-left: 5%;
    
}
.menu ul{
    
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
       
}


.menu a:hover{
    color: rgb(255, 255, 255);
    transition:all .5s ease-in-out;
    cursor: pointer;
    border: .5px;
    border-color: antiquewhite;
    border: solid;
}
.menu li a {
    
    display: flex;
    margin: 5px;
    
    text-decoration: none;
    color: black;
    
 
}
button a {
    text-decoration: none;
    color: black;
    
}
.navbar{
    grid-area: navbar;
    background-image: url(./Imagenes/001.jpg);
    font-style: oblique;
    text-align: left;
    background-size: cover;
}
.main {
    grid-area: main;
    background-color: rgba(207, 207, 197, 0);
}
.main2{
    grid-area: main2 ;
}
.sidebar{
    background-image: url('./Imagenes/002.jpg');
    grid-area: sidebar;
    text-align: center;
    display: grid;
    background-size: cover;
    background-position: right;
    
    
    
    
           
}
.banner li{
    list-style: none;
}
.footer{
    grid-area: footer;
    background-color: #deb887;
}
.footer h4{
    margin-top: 50px;
    text-align: center;
    font-family: sacramento;


}
.gridcontainer{
    display: grid;
    gap: 10px;
    grid-template:
    "header" 100px
    "main" 300px
    "sidebar" 120px
   "navbar" 100px
     "main2" 100px
    "footer" 150px;
    
}
.main{
    display: grid;
    grid-template-columns: 40% 40% ;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    justify-content: space-around;
    align-content: space-around;
    box-shadow: none;
    
    
    
        
}

.card {
    
    border-radius: 10px;
	font-weight: bold;
	padding: 0px;
	position: relative;
	background-size: cover;
	display: grid;
	
    
    
		
}
div h3{
    margin-top: 10px;
    margin-left: 10px ;
    font-size: 20px;
    font-family: yeseva one;
    color: black;
    
    }

    
.card h3 {
    background-color: rgba(255, 255, 255, 0.75);
    max-width: 80%;
    max-height: 50%;
    position: absolute;
    border-radius: 6px;
    padding: 10px;

    
}
    


/*CELL*/
@media (max-width: 600px)
{ .banner{
    background: none;
    display: flex;
    justify-content: space-between;
 
    
}
.card h3{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
}
.navbar{
    margin-top: 10px;
    text-align: center;
    
}
.consejo {
    float: left;
    text-align: center;
    margin-left: 10px ;/*margen entre los items*/
    
}
.sidebar { 
   margin-top: 0px;
   margin-left: 0px;


}
.sidebar h1{
    align-self: center;
    
}
.sidebar h3{
    align-self: center;
    color: #deb887;
}
.main{
    row-gap: 0;
}
.main2{
    height: 100px;
}
}

/*TABLET*/
@media (min-width: 600px) {
    .gridcontainer{
    grid-template-columns: 500px auto;
    grid-template-rows: 100px 350px 300px 100px 150px;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "navbar navbar"
    "main2 main2"
    "footer footer";
           
    }
    .sidebar{
        
        text-decoration: none;
        text-align: center;
        margin-left: 10px;  
        
    }
    .sidebar h3{
        color: #f8f8f8;
    }
    .main{
        margin-left: 5px;
        
        
    }
    .consejo { text-align: center;
        font-size: 15px;
        
        
    }
    .navbar{
        margin-top: 10px;
        text-align: center;
    }
    .navbar li{
        text-align: right;
        margin-right: 20px;
    }
}

/*PC*/
@media (min-width: 900px) {
    .gridcontainer{
    grid-template: 
    "header header header" 100px
    "navbar main sidebar" 600px
    "main2 main2 main2" 200px
    "footer footer footer" 150px 
     /200px auto 200px;
        
    }
    .sidebar{
        margin-left: 0px;
        margin-right: 5px;
    }
    .navbar{
        margin-left: 5px;
    } /*separacion de la caja del margen*/
    .main{
        margin-right: 0px;
    }
    
    
}